@keyframes growIn {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

html,body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

#root {
  height:105%;
}
.App {
  text-align: center;
  background-color:#1D1B26;
  overflow:hidden;
  height: 105%;
}
.title > h1{
  color: white;
  font-size:5em;
  font-weight:0;
  font-family: "Poppins",sans-serif;
  margin-left:2.5vw;
}
.title > h3 {
  color:white;
  margin-left: 2.5vw;
  font-family: "Poppins",sans-serif;
}

.title {
  background-color: #1D1B26;
  text-align: left;
  margin-top:25vh;
}

h1 {
  color:black;
}

.property-grid {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(3,30vw);
  margin-left:2vw;
  grid-gap:2vw;
}


.property {
  box-shadow: 8px 10px 42px 3px rgba(0,0,0,0.5);
  display:flex;
  gap:1vw;
  padding-left:.8vw;
  background-color: white;
  animation: 1s ease-in 0s 1 growIn;
}

.property:hover {
  transform: scale(1.2);
  transition: transform .25s;
  transition-timing-function: ease-in;
}

.propertyDescription {
  margin-top: 3vh;
}
.propertyDescription > h2{
  color:black;
  font-size: 1.3em;
}

.property > img {
  flex-grow: 1;
  height: 30vh;
}

.input {
  text-align: left;
  margin-left:2.5vw;
}

